<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Gerenciar Produtos - PotiFruti</title>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
    <img src="" name="Logo"> <!--Logo-->
    <form method="get" target="_blank">
        <label for="procurar na internet">Procurar</label>
        <input type="text" id="procurar na internet">
        <input type="submit" value="Browser">
    </form>
    </header>
    <nav>
    <ul>
        <!--no elemento img src, ficarão as imagens dos produtos disponíveis-->
        <li img src="">produto 1<br>Observações</li>
        <li img src="">produto 2<br>Observações</li>
        <li img src="">produto 3<br>Observações</li>
        <li img src="">produto 4<br>Observações</li>
        <li img src="">produto 5<br>Observações</li>
        <li img src="">produto 6<br>Observações</li>
        <li img src="">produto 7<br>Observações</li>
        <input type="submit" value="Enviar Pedido"/>
    </ul>
    </nav>
    <article>
        <h4>Não encontrou o que precisava? Adicione aqui um pedido especial.</h4>
        <form method="get" target="_blank">
            <label for="produto">Produto</label><br>
            <input type="text" id="produto"><br>
            <label for="observações">Observações</label><br>
            <input type="text" id="observações"><br>
            <input type="submit" value="Adicionar Sugestão"/>
        </form>
    </article>
  </body>
</html>